<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- <add key ="assembly" value="c:\CustomerOneDriver.dll"/> -->
    <add key ="assembly" value="c:\CustomerTwoDriver.dll"/>
    <add key ="connectionString" value="protocol:address"/>
  </appSettings>
</configuration>